@inject IIdentityService _identityService;
@inject IViewLocalizer localizer;

@{
    ViewData["Title"] = "Campaign is over";
}

@{
    var country = SiteHelper.GetCountry();
    var title = SiteHelper.GetTitle();
}

<div style="min-height: 580px;">
    <section class="fullwidth">
        <div class="container pt-2 pb-0 mb-5">
            <div class="row justify-content-center">
                <div class="col-md-8 col-lg-5 text-center">
                    <h3>
                        <span>@localizer["CampaignIsOver"]</span>
                    </h3>

                </div>
            </div>
        </div>
    </section>
</div>